// These comments are only one line long each.
$pinkish-red: #ea212e;
$turquoise-blue: #00bcc7;
$white: #ffffff;
$black: #000000;
$white-two: #fbfbfb;
$black-two: #202020;
$greyish-brown: #535151;
$greyish-brown-two: #505050;
$black-three: #181818;

.mts-hash-0003a {
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
  .mts2-section-feedback {
    .mts2-section-form__heading_small {
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
  .mts2-section-feedback__subtext {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  ::-webkit-input-placeholder {
    color: #adb8c1;
  }
  ::-moz-placeholder {
    color: #adb8c1;
  } /* Firefox 19+ */
  :-moz-placeholder {
    color: #adb8c1;
  } /* Firefox 18- */
  :-ms-input-placeholder {
    color: #adb8c1;
  }
  textarea {
    height: 150px;
    max-height: 150px;
    margin-bottom: 30px;
    color: #adb8c1;
    left: 47px;
    top: 29px;
    font-size: 16px;
  }
  .mts2-section-feedback__phone {
    font-family: "Futura New";
    font-size: 28px;
    letter-spacing: -1px;
    text-align: left;
    margin-bottom: 5px;
  }
  .mts2-section-feedback__phone-text {
    opacity: 0.4;
    font-family: "Lato";
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: -0.1px;
    text-align: left;
    color: #000;
  }
  .mts2-section-form {
    padding: 70px 0 150px;
    li[data-value='visa'] {
      background-image: url('../img/cards/mts2-visa-logo.png');
      background-repeat: no-repeat;
      background-position: 95% center;
    }
    li[data-value='mc'] {
      background-image: url('../img/cards/mts2-mastercard-logo.png');
      background-repeat: no-repeat;
      background-position: 95% center;
    }
    li[data-value='mcvisa'] {
      background-image: url('../img/cards/mts2-visa-logo.png'),
        url('../img/cards/mts2-mastercard-logo.png');
      background-repeat: no-repeat;
      background-position: 95% center, 88% center;
    }
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    option {
      cursor: pointer;
    }
    option:hover {
      background-color: $white;
    }
    .col-md-6 {
      padding: 0px 20px 0 15px;
    }
    &__radio_citizen-error {
      position: absolute;
      top: 35px;
      left: 25px;
    }
    &__radio_citizen-error,
    label.error {
      font-family: Lato;
      font-size: 13px;
      letter-spacing: 0px;
      text-align: left;
      color: $pinkish-red;
    }
    select {
      height: 78px;
      border-radius: 4px;
      background-color: #fafafa;
      border: solid 1px #d8d8d8;
      padding: 28px 29px;
      font-family: "Lato";
      font-size: 18px;
      letter-spacing: -0.1px;
      text-align: left;
      color: #000;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../img/mts2-form-select.png) 96%/10px no-repeat #fafafa;
      margin-bottom: 43px;
    }
    input:focus ~ .mts2-section-form__floating-label,
    input:not(:focus):valid ~ .mts2-section-form__floating-label {
      -webkit-transform: scale3d(0.7, 0.7, 1) translate3d(-19px, -19px, 0px);
      transform: scale3d(0.7, 0.7, 1) translate3d(-19px, -19px, 0px);
      -webkit-transform-origin: top left;
      transform-origin: top left;
      opacity: 1;
      color: #9bafc1;
    }
    &__link {
      color: $turquoise-blue;
    }
    &__form-group {
      position: relative;
    }
    &__floating-label {
      position: absolute;
      pointer-events: none;
      -webkit-transition: 200ms ease-in-out all;
      transition: 200ms ease-in-out all;
      color: #adb8c1;
      left: 47px;
      top: 29px;
      font-size: 16px;
    }
    &__btn {
      font-family: "Lato";
      font-size: 16px;
      font-weight: 900;
      letter-spacing: -0.1px;
      text-align: center;
      color: $white;
      border-radius: 4px;
      background-color: $pinkish-red;
      padding: 25px 40px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 80px;
      -webkit-transition: 200ms all ease;
      transition: 200ms all ease;
    }
    &__form-wrapper {
      border-radius: 4px;
      background-color: $white;
      border: solid 1px #ededed;
      padding: 56px 16.5% 140px;
      max-width: 1334px;
    }
    &__inner-left-wrapper {
      max-width: 644px;
    }
    &__heading {
      font-family: "Futura New";
      font-size: 34px;
      font-weight: bold;
      line-height: 1.47;
      letter-spacing: 0px;
      text-align: left;
      color: $black;
      margin-bottom: 0;
      &_small {
        font-size: 21px;
        font-family: "Futura New";
        font-weight: bold;
        line-height: 1.47;
        letter-spacing: 0px;
        text-align: left;
        color: $black;
        margin-bottom: 40px;
        margin-top: 90px;
      }
    }
    &__input-wrapper {
      position: relative;
      margin-bottom: 40px;
      height: 78px;
      &_rouble::after {
        content: url('../img/credit-pay/mts2-credit-pay-input-rouble.png');
        position: absolute;
        right: 33px;
        top: 33px;
      }
      &_month::after {
        content: url('../img/credit-pay/mts2-credit-pay-input-month.png');
        position: absolute;
        right: 33px;
        top: 33px;
      }
    }
    &__text-input {
      border-radius: 4px;
      background-color: #fafafa;
      border: solid 1px #d8d8d8;
      padding: 32px 29px 17px;
      font-family: "Lato";
      font-size: 16px;
      letter-spacing: -0.1px;
      text-align: left;
      color: $black;
      width: 100%;
      -webkit-transition: 200ms all ease-in-out;
      transition: 200ms all ease-in-out;

      &:focus {
        outline: none;
      }
    }
    &__text-input.error {
      border: solid 1px $pinkish-red;
      color: $pinkish-red;
    }
    &__range-input {
      width: 100%;
      margin: 0 auto;
      padding: 1.5em;
    }
    &__inside-label {
      opacity: 0.6;
      font-family: "Lato";
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 0px;
      text-align: left;
      color: $black;
      position: absolute;
      left: 30px;
      top: 14px;
    }
    &__calc-price-text {
      opacity: 0.5;
      font-family: Lato;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0px;
      text-align: left;
      color: black;
      margin-bottom: 0;
    }
    &__description {
      margin: 30px 0;
      font-size: 12px;
      opacity: 0.5;
    }
    &__calc-price {
      font-family: "Futura New";
      font-size: 58px;
      letter-spacing: -1px;
      text-align: left;
      color: black;
      line-height: 68px;
      margin-bottom: 35px;
      span {
        font-size: 28px;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button,
    input::-webkit-search-cancel-button {
      display: none;
      -webkit-appearance: none;
    }
    &__checkbox {
      display: none;
      position: relative;
      top: 0;
      left: 0;
      &:checked + label:before {
        content: " ";
        background-image: url(../img/cards/mts2-cards-checkbox.png);
        -webkit-transition: 200ms all ease-in-out;
        transition: 200ms all ease-in-out;
        width: 30px;
        height: 30px;
      }
    }
    &__checkbox-label {
      font-family: Lato;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      text-align: left;
      color: #000000;
      cursor: pointer;
      position: relative;
      top: 0;
      left: 0;
      // margin-right: 40px;
      margin-bottom: 20px;
      span {
        position: relative;
        top: -9px;
        left: 50px;
        margin-left: -53px;
      }
      &:before {
        content: " ";
        background-image: url(../img/cards/mts2-cards-checkbox-un.png);
        display: inline-block;
        position: relative;
        top: 0;
        margin-right: 20px;
        left: 0px;
        -webkit-transition: 200ms all ease-in-out;
        transition: 200ms all ease-in-out;
        width: 30px;
        height: 30px;
      }
    }

    &__radio {
      display: none;
      &:checked + label:before {
        width: 30px;
        background-color: #ffffff;
        height: 30px;
        border-radius: 50%;
        border: 9px solid #00bcc7;
        -webkit-transition: 200ms all ease-in-out;
        transition: 200ms all ease-in-out;
      }
    }
    &__radio-label {
      font-family: Lato;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      text-align: left;
      color: #000000;
      cursor: pointer;
      margin-right: 80px;
      margin-bottom: 20px;
      span {
        position: relative;
        top: -9px;
        left: 50px;
        margin-left: -53px;
      }
      &:before {
        content: " ";
        display: inline-block;
        position: relative;
        top: 0;
        margin-right: 20px;
        left: 0px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $white-two;
        border: solid 1px hsl(0, 0%, 85%);
      }
    }

    .nice-select {
      -webkit-tap-highlight-color: transparent;
      border-radius: 5px;
      box-sizing: border-box;
      clear: both;
      cursor: pointer;
      display: block;
      font-family: inherit;
      font-size: 14px;
      font-weight: normal;
      height: 78px;
      line-height: 40px;
      outline: none;
      padding: inherit;
      padding-left: 18px;
      padding-right: 30px;
      position: relative;
      text-align: left !important;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: auto;
      background-color: #fafafa;
      border: solid 1px #d8d8d8;
      font-family: "Lato";
      display: flex;
      width: 100%;
      align-items: center;
      font-size: 16px;
      letter-spacing: -0.1px;
      margin-bottom: 40px;
      color: #adb8c1;
    }
    .nice-select:hover {
      border-color: #dbdbdb;
    }
    .nice-select:active,
    .nice-select.open,
    .nice-select:focus {
      border-color: #999;
    }
    .nice-select:after {
      content: url(../img/mts2-form-select.png);
      display: block;
      margin-top: -4px;
      pointer-events: none;
      position: absolute;
      right: 30px;
      top: 27%;
      transition: all 0.15s ease-in-out;
    }
    .nice-select.open .list {
      opacity: 1;
      width: 100%;
      pointer-events: auto;
      -webkit-transform: scale(1) translateY(0);
      -ms-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      background-color: $white-two;
    }
    .nice-select.disabled {
      border-color: #ededed;
      color: #999;
      pointer-events: none;
    }
    .nice-select.disabled:after {
      border-color: #cccccc;
    }
    .nice-select.wide {
      width: 100%;
    }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important;
    }
    .nice-select.right {
    }
    .nice-select.right .list {
      left: auto;
      right: 0;
    }
    .nice-select.small {
      font-size: 12px;
      height: 36px;
      line-height: 34px;
    }
    .nice-select.small:after {
      height: 4px;
      width: 4px;
    }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px;
    }
    .nice-select .list {
      background-color: #fff;
      border-radius: 5px;
      border: solid 1px #d8d8d8;
      box-sizing: border-box;
      margin-top: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
      -webkit-transform: scale(0.75) translateY(-21px);
      -ms-transform: scale(0.75) translateY(-21px);
      transform: scale(0.75) translateY(-21px);
      -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
        opacity 0.15s ease-out;
      transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
      z-index: 9;
    }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important;
    }
    .nice-select .option {
      cursor: pointer;
      font-weight: 400;
      line-height: 40px;
      list-style: none;
      min-height: 40px;
      outline: none;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 18px;
      padding-right: 29px;
      text-align: left;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
    .nice-select .option:hover,
    .nice-select .option.focus,
    .nice-select .option.selected.focus {
      background-color: #fff;
    }
    .nice-select .current,
    .nice-select .option.selected {
      color: #000;
    }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default;
    }

    .no-csspointerevents .nice-select .list {
      display: none;
    }

    .no-csspointerevents .nice-select.open .list {
      display: block;
    }
  }

  // MEDIA QUERIES -----------------------------||--------------------------------------START>
  @media (max-width: 768px) {
    .mts2-section-form__radio-label span,
    .mts2-section-form__checkbox-label span {
      width: 83%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      flex-direction: column;
    }
    .mts2-section-form__form-wrapper {
      padding: 26px 12px 20px;
    }
    .mts2-section-form__inside-label {
      opacity: 0.6;
      font-family: "Lato";
      font-size: 8px;
      font-weight: 800;
      letter-spacing: 0px;
      text-align: left;
      color: #000;
      position: absolute;
      left: 30px;
      top: 14px;
    }
  }

  @media (max-width: 544px) {
    .mts-hash-0003a .mts2-section-hero {
      padding: 40px 0;
    }
    .mts2-section-form__calculator-wrapper {
      padding: 40px;
    }
    .mts2-section-steps {
      padding: 60px 0;
    }
    .mts2-section-conditions__tariffs-text {
      font-size: 13px;
      line-height: 1.39;
    }
    .mts2-section-conditions__btn {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
}
