// These comments are only one line long each.
$pinkish-red: #ea212e;
$turquoise-blue: #00bcc7;
$white: #ffffff;
$black: #000000;
$white-two: #fbfbfb;
$black-two: #202020;
$greyish-brown: #535151;
$greyish-brown-two: #505050;
$black-three: #181818;

.mts-hash-0003a nav.flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li .mts2-navigation-lower__logo {
    position: relative;
    top: 0px;
}
.mts-hash-0003a {
  background-color: #fbfbfb;
  .mts2-section-perks__img {
    min-height: 60px;
}
.mts-2mobile-input-menu  {
  display: none;
}
  .mts-hash-0003a__content {
    margin-top: 130px;
}
  .mtsbank-country-select {
    &__wrapper {
      color: #fff;
      border-radius: 5px;
      background-color: #004ede;
      background-image: radial-gradient(circle at 71% 75%, #31a6f1 0%, #004ede 47%);
      padding: 94px 8%;
      transform: translateZ(0);
    }
    &__heading {
      font-weight: bold;
      font-family: 'Futura New';
      font-size: 34px;
      margin-bottom: 60px;
    }
    &__second-row {
      margin-top: 30px;
    }
    &__main-text {
      margin-top: 70px;
      max-width: 420px;
      width: 100%;
      margin-left: 32px;
      h4 {
        font-weight: bold;
        font-family: 'Futura New';
        font-size: 27px;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        line-height: 32px;
      }
    }
    &__main-image {
      display: block;
      img {
        max-width: 523px;
        width: 100%;
      }
    }
    &__img-wrapper {
      height: 88px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    &__country {
      text-align: center;
      img {
        opacity: 0.3;
        transition: 200ms all ease;
      }
      &.active img {
        opacity: 1;
      }
      p {
        font-size: 21px;
        font-weight: bold;
        font-family: 'Futura New';
      }
    }
  }
  .mts2-tariffs1 {
    li {
      color: #000;
    }
  }
  .mtsbank-row-weekend {
    padding: 40px 0;
  }
  .bigimage-wrapper {
    margin-top: 25px;
    h3 {
      color: $pinkish-red;
      font-weight: bold;
      font-family: 'Futura New';
      font-size: 21px;
    }
    p {
      max-width: 480px;
      font-size: 16px;
    }
  }
  .mtsbank-col-weekend {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .mts2-bigimage {
    h3 {
      font-family: 'Futura New';
      font-size: 34px;
      font-weight: bold;
      line-height: 1.47;
      letter-spacing: 0px;
      text-align: left;
      color: #000;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .mts2-section-main-service-info {
    padding-top: 50px;
    padding-bottom: 50px;
    &__heading {
      font-family: 'Futura New';
      font-size: 38px;
      font-weight: bold;
      line-height: 1.47;
      letter-spacing: 0px;
      text-align: left;
      color: #000;
      margin-bottom: 60px;
      -webkit-transition: 230ms all ease-in-out;
      transition: 230ms all ease-in-out;
    }
    &__info-badge {
      min-height: 301px;
      background-color: #fff;
      padding: 42px 45px;
      -ms-flex-line-pack: justify;
      align-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 10px;
      border: solid 1px #ededed;
      transition: 200ms all ease-in-out;
      cursor: pointer;
      &:hover {
        -webkit-box-shadow: 0 25px 30px 0 rgba(148, 148, 148, 0.25);
        box-shadow: 0 25px 30px 0 rgba(148, 148, 148, 0.25);
        border-radius: 5px;
      }
    }
    &__info-badge-text {
      opacity: 0.9;
      font-family: Lato;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      text-align: left;
      color: $black;
      margin-bottom: 0;
    }
    &__info-badge-heading {
      font-family: 'Futura New';
      font-size: 21px;
      font-weight: bold;
      line-height: 1.29;
      letter-spacing: -0.1px;
      text-align: left;
      color: $black;
    }
  }
  .mts2-section-perks__img {
    img {
      margin: auto;
      margin-bottom: 30px;
      display: block;
    }
  }
  .mts2-section-perks__main2 {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Futura New', sans-serif;
    max-width: 289px;
    margin: auto;
    margin-bottom: 20px;
  }
  .mts2-navigation__pay-label-switch {
    line-height: inherit;
  }
  .mts2-section-hero__mobile-bg {
    display: none;
  }
  .mts2-section-hero {
    background-repeat: no-repeat;
background-position: center;
background-size: cover;
transform: translateZ(0px);
position: relative;
background-image: url(../img/weekend/bgweekend.jpg);
    &__video {
      position: absolute;
      top: 224px;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1;
    }
    // &__overlay-grad {
    //   position: absolute;
    //   z-index: 2;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    //   background-image: radial-gradient(157% 267% at 0% 94%, #010533 0%, #000 114%);
    //   animation: gradOut 1s ease-in-out;
    //   opacity: 0;
    // }
    // &__overlay-grad2 {
    //   position: absolute;
    //   z-index: 1;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    //   background-image: linear-gradient(90deg, #004ede, #000);
    //   animation: gradOut 2s ease-in-out;
    //   opacity: 0;
    // }
    // @keyframes gradOut {
    //   0% {
    //     opacity: 1;
    //   }
    //   100% {
    //     opacity: 0;
    //   }
    // }
    &__small-top {
      color: #fff;
font-weight: 100;
font-size: 16px;
opacity: 0.9;
    }
    &__caption {
      color: #fff;
font-weight: 100;
font-size: 16px;
opacity: 0.9;
display: block;
padding-bottom: 30px;
    }
    &__btn {
      font-family: Lato;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: -0.1px;
      text-align: center;
      color: $white;
      border-radius: 4px;
      background-color: $pinkish-red;
      padding: 25px 40px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 38px;
      -webkit-transition: 200ms all ease;
      transition: 200ms all ease;
    }
    &__subtext {
      opacity: 0.5;
      font-family: Lato;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      color: $white;
    }
    &__percent {
      font-family: 'Futura New';
      font-size: 58px;
      letter-spacing: -1px;
      color: $white;
      margin-bottom: 0;
      line-height: 58px;
      margin-top: 25px;
    }
    &__percent-span {
      font-size: 28px;
    }
    &__percent-span_3 {
      font-size: 28px;
      // font-family: "ALSRubl";
    }
    &__wrapper {
      max-width: 531px;
      text-align: left;
      padding: 125px 0 200px;
      .mts2-section-hero__heading {
        font-family: 'Futura New';
        font-size: 62px;
        font-weight: bold;
        line-height: 71px;
        letter-spacing: -0.2px;

        color: $white;
      }
      .mts2-section-hero__upper-parag {
        font-family: Lato;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.1px;
        color: $white;
        margin-bottom: 24px;
      }
    }
  }
  .mts2-section-tab-nav {
    background-color: $white;
  }

  .mts2-section-perks {
    margin-top: 115px;
    margin-bottom: 115px;
    &__heading {
      font-family: 'Futura New';
      font-size: 62px;
      font-weight: bold;
      line-height: 1.47;
      letter-spacing: 0px;
      text-align: center;
      color: $black;
      margin-bottom: 60px;
    }
    &__main {
      font-family: 'Futura New';
      font-size: 58px;
      letter-spacing: -1.3px;
      text-align: center;
      color: $pinkish-red;
      line-height: 44px;
      margin-bottom: 5px;
      span {
        font-size: 28px;
        font-weight: 200;
      }
    }
    &__subtext {
      opacity: 0.5;
      font-family: Lato;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      text-align: center;
      color: $black;
    }
  }

  .mts2-section-calculator {
    & .mts2-section-form__radio-label span {
      position: relative;
      top: -9px;
    }
    & .mts2-section-form__radio {
      display: none;
    }
    & .mts2-section-form__radio-label {
      font-family: Lato;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      text-align: left;
      color: #000000;
      cursor: pointer;
      margin-right: 80px;
      margin-bottom: 20px;
    }
    .mts2-section-form__radio-label:before {
      content: ' ';
      display: inline-block;
      position: relative;
      top: 0;
      margin-right: 20px;
      left: 0px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fbfbfb;
      border: solid 1px #d9d9d9;
    }
    & .mts2-section-form__radio:checked + label:before {
      width: 30px;
      background-color: #ffffff;
      height: 30px;
      border-radius: 50%;
      border: 9px solid #00bcc7;
      -webkit-transition: 200ms all ease-in-out;
      transition: 200ms all ease-in-out;
    }
    &__btn {
      font-family: 'Lato';
      font-size: 16px;
      font-weight: 900;
      letter-spacing: -0.1px;
      text-align: center;
      color: $white;
      border-radius: 4px;
      background-color: $pinkish-red;
      padding: 25px 40px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 40px;
      -webkit-transition: 200ms all ease;
      transition: 200ms all ease;
    }
    &__calculator-wrapper {
      margin-top: 100px;
      margin-bottom: 50px;
      border-radius: 4px;
      background-color: $white;
      border: solid 1px #ededed;
      padding: 56px 8.5% 20px;
    }
    &__inner-left-wrapper {
      max-width: 644px;
    }
    &__heading {
      font-family: 'Futura New';
      font-size: 34px;
      font-weight: bold;
      line-height: 1.47;
      letter-spacing: 0px;
      text-align: left;
      color: $black;
      margin-bottom: 56px;
    }
    &__input-wrapper {
      position: relative;
      margin-bottom: 15px;
      &_rouble::after {
        content: url('../img/credit-pay/mts2-credit-pay-input-rouble.png');
        position: absolute;
        right: 33px;
        top: 33px;
      }
      &_month::after {
        content: url('../img/credit-pay/mts2-credit-pay-input-month.png');
        position: absolute;
        right: 33px;
        top: 33px;
      }
    }
    &__text-input {
      border-radius: 4px;
      background-color: #fafafa;
      border: solid 1px #d8d8d8;
      padding: 32px 29px 17px;
      font-family: 'Lato';
      font-size: 18px;
      letter-spacing: -0.1px;
      text-align: left;
      color: $black;
      &:focus {
        outline: none;
      }
    }
    &__range-input {
      width: 100%;
      margin: 0 auto;
      padding: 1.5em;
    }
    &__inside-label {
      opacity: 0.6;
      font-family: 'Lato';
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 0px;
      text-align: left;
      color: $black;
      position: absolute;
      left: 30px;
      top: 14px;
    }
    &__calc-price-text {
      opacity: 0.5;
      font-family: Lato;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0px;
      text-align: left;
      color: black;
      margin-bottom: 0;
    }
    &__description {
      margin: 30px 0;
      font-size: 12px;
      opacity: 0.5;
    }
    &__calc-price {
      font-family: 'Futura New';
      font-size: 58px;
      letter-spacing: -1px;
      text-align: left;
      color: black;
      line-height: 68px;
      margin-bottom: 35px;
      span {
        font-size: 28px;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button,
    input::-webkit-search-cancel-button {
      display: none;
      -webkit-appearance: none;
    }
    &__checkbox {
      display: none;
      &:checked + label:before {
        content: url('../img/cards/mts2-cards-checkbox.png');
      }
    }
    &__checkbox-label {
      font-family: Lato;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      text-align: left;
      color: #000000;
      cursor: pointer;
      -webkit-transition: 200ms all ease-in-out;
      transition: 200ms all ease-in-out;
      &:before {
        content: url(../img/cards/mts2-cards-checkbox-un.png);
        display: inline-block;
        position: relative;
        top: 9px;
        margin-right: 40px;
        left: 0px;
      }
    }
  }

  .mts2-section-steps {
    text-align: center;
    // padding: 120px 0 150px;
    .mts2-section-steps__step {
      .mts2-section-steps__img-wrapper {
        height: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .mts2-section-steps__header {
        font-family: 'Futura New';
        font-size: 21px;
        font-weight: bold;
        line-height: 1.29;
        letter-spacing: -0.1px;
        text-align: center;
        color: $black;
        width: 220px;
        margin: auto;
        margin-bottom: 20px;
      }
      .mts2-section-steps__subtext {
        opacity: 0.5;
        font-family: 'Lato';
        font-size: 16px;
        line-height: 1.69;
        letter-spacing: -0.1px;
        text-align: center;
        color: $black;
        max-width: 300px;
        margin: auto;
      }
    }
  }
  .mts2-section-conditions-first {
    .mts2-section-conditions__img-wrapper {
    }

    hr {
      margin: 30px 0 30px;
    }
    p {
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
    }
    img {
      margin-right: 40px;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 1200px) {
    .mts2-section-conditions-first {
      h2,
      p {
        text-align: center;
      }
      img {
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .mts2-section-conditions {
    padding: 80px 0 130px;
    &__invest-logo-text {
      font-size: 16px;
      font-family: 'Lato', sans-serif;
    }
    &__wrapper {
      -o-object-fit: contain;
      object-fit: contain;
      border-radius: 4px;
      background-color: $white;
      border: solid 1px hsl(0, 0%, 93%);
      padding: 77px 0;
      margin-top: 100px;
      margin-bottom: 100px;
      .row {
        max-width: 1077px;
        margin: auto;
      }

      ul {
        padding-left: 0;
      }
    }
    &__row-first > p {
      color: #888;
      margin-bottom: 0;
      text-align: left;
    }
    &__row-first p {
      color: #888;
      margin-bottom: 0;
    }
    &__heading {
      font-family: 'Futura New';
      font-size: 34px;
      font-weight: bold;
      line-height: 1.47;
      letter-spacing: 0px;
      text-align: center;
      color: $black;
      margin-bottom: 0;
      &_same {
        font-family: 'Futura New';
        font-size: 34px;
        font-weight: bold;
        line-height: 1.47;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 100px;
        margin-bottom: 60px;
      }
      &_same3a {
        font-family: 'Futura New';
        font-size: 34px;
        font-weight: bold;
        line-height: 1.47;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 60px;
      }
      &_small {
        font-family: 'Futura New';
        font-size: 21px;
        font-weight: bold;
        line-height: 1.47;
        letter-spacing: 0px;
        text-align: left;
        color: $black;
        margin-bottom: 15px;
      }
    }

    &__sub-heading {
      font-family: 'Futura New';
      font-size: 21px;
      font-weight: bold;
      line-height: 1.29;
      letter-spacing: 0px;
      text-align: left;
      color: $black;
      margin-bottom: 20px;
      margin-top: 50px;
    }
    &__sub-heading2 {
      padding-left: 15px;
    }

    &__tariffs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin: auto;
      margin-top: 35px;
      img {
        margin-top: 15px;
      }
    }

    &__tariffs-text-weekend {
      font-family: Lato;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      text-align: left;
      color: #000;
      max-width: 370px;
      margin-left: 29px;
    }

    &__tariffs-size {
      opacity: 0.5;
      font-family: Lato;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      text-align: left;
      color: $black;
    }

    &__list-item {
      font-family: Lato;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      text-align: left;
      color: #888;
      list-style: none;
      margin-bottom: 20px;
      padding-left: 20px;
      &:before {
        content: url('../img/credit-pay/mts2-credit-li-bullet.png');
        position: relative;
        top: -2px;
        margin-right: -6px;
        left: -20px;
      }
      & a {
        color: $turquoise-blue;
      }
    }
    &__list-item-right {
      font-family: Lato;
      font-size: 16px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      text-align: left;
      color: #000;
      list-style: none;
      margin-bottom: 20px;
      padding-left: 20px;
    }
    &__btn {
      font-family: 'Lato';
      font-size: 16px;
      font-weight: 900;
      letter-spacing: -0.1px;
      text-align: center;
      color: $white;
      border-radius: 4px;
      background-color: $pinkish-red;
      padding: 25px 40px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 40px;
      -webkit-transition: 200ms all ease;
      transition: 200ms all ease;
    }
  }

  .mts2-section-credit-page-2 {
    .mts2-section-more__card:hover .mts2-section-more__subheading,
    .mts2-section-more__card:hover .mts2-section-more__subtext,
    .mts2-section-more__card:hover .mts2-section-more__percent,
    .mts2-section-more__card:hover .mts2-section-more__percent-span_1,
    .mts2-section-more__card:hover .mts2-section-more__percent-span_3,
    .mts2-section-more__card:hover .mts2-section-more__percent-span {
      color: $black;
    }
    div.col-md-12 {
      padding-left: 15px;
      padding-right: 15px;
    }
    &__app-download {
      opacity: 0.5;
    }
    &__link {
      font-family: 'Futura New';
      font-size: 16px;
      font-weight: bold;
      line-height: 2.81;
      letter-spacing: 0px;
      text-align: left;
      color: $turquoise-blue;
    }
    &__list-item {
      font-family: 'Lato';
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.1px;
      text-align: left;
      color: $black;
      span {
        opacity: 0.5;
        font-family: Lato;
        font-size: 14px;
        line-height: 1.93;
        letter-spacing: -0.1px;
      }
    }
    ul {
      padding-left: 0;
    }
    a {
      color: $turquoise-blue;
      &:hover {
        color: $black;
      }
    }
    &__card {
      background-image: url(../img/credit-pay/mts2-credit-pay-woman-3.png);
      cursor: auto;
      min-height: 290px;
      padding: 40px;
      text-align: left;
      &_small {
        background-image: none;
      }
      &:hover {
        background-color: $white;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    &__heading {
      font-family: 'Futura New';
      font-size: 62px;
      font-weight: bold;
      line-height: 1.47;
      letter-spacing: 0px;
      text-align: center;
      color: #000;
      margin-bottom: 48px;
      margin-top: 85px;
    }
    &__btn {
      background-color: #ea212e;
      border: none;
      padding: 11px 25px 15px;
      border-radius: 5px;
      font-weight: 600;
      color: #fff;
      display: inline-block;
      margin-top: 30px;
      font-family: 'Lato';
      font-size: 16px;
      font-weight: 900;
      letter-spacing: -0.1px;
    }
    &__btn-2 {
      background-color: transparent;
      border: none;
      padding: 11px 25px 15px;
      border-radius: 5px;
      display: inline-block;
      margin-top: 0;
      font-family: 'Futura New';
      font-size: 16px;
      font-weight: bold;
      line-height: 2.81;
      letter-spacing: 0px;
      text-align: center;
      color: $turquoise-blue;
    }
  }

  .mts2-section-credit-page-3 {
    padding-top: 100px;
    padding-bottom: 150px;
    &__wrapper .row {
      max-width: 1090px;
    }
    &__tariffs {
      margin-top: 30px;
      div {
        max-width: 350px;
      }
      p {
        margin-bottom: 0;
      }
    }
    &__tariffs3 {
      margin-top: 0px;
      div {
        max-width: 350px;
      }
      p {
        margin-bottom: 0;
      }
    }
    &__btn.collapsed {
      &::after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
    &__btn {
      font-family: 'Futura New';
      font-size: 16px;
      font-weight: bold;
      line-height: 2.81;
      letter-spacing: 0px;
      text-align: left;
      color: $turquoise-blue;
      background: none;
      border: none;
      cursor: pointer;
      position: relative;
      width: 232px;
      margin-top: 25px;

      &::after {
        content: url(../img/mts2-footer-triangle.png);
        position: absolute;
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        -webkit-transition: 200ms all ease;
        transition: 200ms all ease;
        -webkit-transform-origin: center;
        transform-origin: center;
        right: 0;
      }
    }
    &__collapse {
    }
  }
  .mts2-section-credit-page-3a {
    padding-bottom: 0;
    padding-top: 0;
    .mts2-super-hover-card__wrapper {
      position: relative;
      max-width: 320px;
      width: 100%;
      margin: auto;
      height: 200px;
      transform-style: preserve-3d;
      perspective: 1200px;
      border-radius: 7px;
    }
    .mts2-super-hover-card__zones {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 200px;
      max-width: 320px;
      width: 100%;
    }
    .mts2-super-hover-card {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: rgba(0, 0, 0, 0);
      height: 200px;
      max-width: 320px;
      width: 100%;
      transition: 500ms all ease-in-out;
      border-radius: 16px;
    }
    .mts2-super-hover-card img {
      border-radius: 16px;
    }
    .mts2-super-hover-card__zone {
      width: 50%;
      position: relative;
      z-index: 4;
      cursor: pointer;
    }
    .mts2-super-hover-card__zone_topl:hover ~ .mts2-super-hover-card {
      transform: rotateX(-8deg) rotateY(10.4deg) scale3d(1.04, 1.04, 1);
      box-shadow: 0px 20px 39px -16px rgba(106, 116, 121, 0.74);
    }
    .mts2-super-hover-card__zone_topr:hover ~ .mts2-super-hover-card {
      transform: rotateX(-8deg) rotateY(-10.4deg) scale3d(1.04, 1.04, 1);
      box-shadow: 0px 20px 39px -16px rgba(106, 116, 121, 0.74);
    }
    .mts2-super-hover-card__zone_bottoml:hover ~ .mts2-super-hover-card {
      transform: rotateX(8deg) rotateY(10.4deg) scale3d(1.04, 1.04, 1);
      box-shadow: 0px 20px 39px -16px rgba(106, 116, 121, 0.74);
    }
    .mts2-super-hover-card__zone_bottomr:hover ~ .mts2-super-hover-card {
      transform: rotateX(8deg) rotateY(-10.4deg) scale3d(1.04, 1.04, 1);
      box-shadow: 0px 20px 39px -16px rgba(106, 116, 121, 0.74);
    }
  }
}
// MEDIA QUERIES -----------------------------||--------------------------------------START>
@media (min-width: 1624px) {
.mts-hash-0003a .mts2-section-hero {
    background-size: contain;
}
}
@media (max-width: 1300px) {
  .mts2-section-perks__main {
    font-size: 48px;
  }
}

@media (max-width: 1200px) {
  .mts-hash-0003a .mts-hash-0003a__content {
    margin-top: 70px;
}
  .mts-hash-0003a .mts2-section-hero__btn {
    margin: auto;
    margin-top: 38px;
    display: block;
    max-width: 229px;
  }
    .mts-hash-0003a .mtsbank-col-weekend {
    text-align: center;
    margin: auto;
    max-width: 500px!important;
  }
  .mts-hash-0003a .mts2-section-main-service-info__info-badge-text {
text-align: center;
}
}

@media (max-width: 1000px) {
  .mts-hash-0003a .mts2-section-conditions__tariffs {
      width: 45%;
  }
  .mtsbank-country-select {
    .container {
      padding: 0;
    }
  }


  .mts-hash-0003a .mtsbank-row-weekend {
    .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}
  .mts-hash-0003a .mtsbank-country-select__main-text {
    margin-top: 20px;
    max-width: inherit;
    width: 100%;
    margin-left: 0;
    padding-right: 20px;
  }
  .mts-hash-0003a .mtsbank-country-select__main-image {
    display: none;
  }
  .mts-hash-0003a .mtsbank-country-select__country p {
    font-size: 16px;
  }
  .mts-hash-0003a .mtsbank-country-select__wrapper {
    border-radius: 5px;
    background-color: #004ede;
    background-image: none;
    padding: 60px 7%;
  }

  .mts2-section-more__plastic-wrapper {
    width: 100%;
  }
  .mts-hash-0003a .mts2-section-hero__wrapper .mts2-section-hero__heading {
    font-size: 32px;
  }
  .mts-hash-0003a .mts2-section-hero__percent {
    font-size: 32px;
    margin-top: 0;
    line-height: 35px;
  }

  .mts2-section-more__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding-top: 120px;
    background: none;
    max-width: 280px;
    margin: auto;
    margin-bottom: 110px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: inherit;
  }
  .mts2-section-more__card_zero {
    background-image: url(../img/mts2-card-credit__percent_work-pay-mobile.png);
    background-repeat: no-repeat;
    background-position: top center;
  }
  .mts2-section-more__card_one {
    padding-top: 80px;
  }
  .mts2-section-more__card_two {
    background-image: url(../img/credit-pay/mts2-credit-pay-main-vklad-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
  }
  .mts2-section-more__subheading {
    text-align: center;
    margin: auto;
    font-size: 18px;
  }
  .mts2-section-more__subtext,
  .mts2-section-more__percent {
    text-align: center;
    margin: auto;
  }
  .mts2-section-more__card:hover .mts2-section-more__plastic {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 37px 42px -5px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 37px 42px -5px rgba(0, 0, 0, 0.36);
  }
}

@media (max-width: 900px) {
  .mts-hash-0003a .mts2-section-hero {
    background-repeat: no-repeat;
    background-position: 0% center;
    background-size: cover;
    transform: translateZ(0px);
    position: relative;
    background-image: url(../img/weekend/bgweekend.jpg);
}
}

@media (max-width: 768px) {
  .mtsbank-country-select__second-img {
    width: 100%;
    max-width: 400px;
  }
  .mts-hash-0003a .mtsbank-row-weekend {
    padding: 40px 20px;
  }
  .mts2-section-perks__subtext {
    margin-bottom: 40px;
  }
  .mts2-section-perks {
    margin: 60px 0;
  }
  .mts2-section-perks__main {
    font-size: 38px;
    span {
      font-size: 18px;
    }
  }

  .mts2-section-conditions .container,
  .mts2-section-calculator .container {
    padding: 0;
    width: 100%;
  }
  .mts2-section-conditions__heading {
    font-size: 28px;
  }
  .mts2-section-conditions__tariffs-size {
    font-size: 13px;
  }
  .mts2-section-conditions__sub-heading {
    margin-bottom: 14px;
    margin-top: 30px;
  }
  .mts2-section-conditions__list-item {
    font-size: 13px;
  }
  .mts2-section-calculator__calculator-wrapper {
    border-radius: 0;
    border: none;
    border-top: solid 1px #ededed;
    border-bottom: solid 1px #ededed;
    padding: 56px 20px 20px;
  }
  .mts2-section-calculator__checkbox-label {
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mts2-section-calculator__checkbox-label:before {
    margin-right: 10px;
    left: 0px;
    top: -7px;
  }
  .mts-hash-0003a .mts2-section-hero__wrapper {
    text-align: center;
    padding: 70px 0 70px;
  }
  .mts-hash-0003a .mts2-section-hero__wrapper .mts2-section-hero__upper-parag {
    font-family: 'Futura New';
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
  }
  .mts-hash-0003a .mts2-section-hero__wrapper .mts2-section-hero__heading {
    font-size: 30px;
    margin-bottom: 32px;
    line-height: 42px;
  }
  .mts-hash-0003a .mts2-section-perks__heading {
    font-family: 'Futura New';
    font-size: 48px;
    font-weight: bold;
    line-height: 52px;
    letter-spacing: 0px;
    text-align: center;
    color: #000;
    margin-bottom: 60px;
  }
  .mts-hash-0003a .mts2-section-hero__mobile-bg {
    display: block;
    width: 100%;
  }
  .mts-hash-0003a .mts2-section-hero {
  }
  .mts-hash-0003a .mts2-section-hero__btn {
    margin-top: 10px;
  }
  .mts-hash-0003a .mts2-section-hero__subtext {
    font-size: 14px;
  }
  .mts2-section-calculator__heading {
    font-size: 28px;
    line-height: 1.3;
  }
  .mts2-section-calculator__btn {
    margin-top: 0px;
  }
  .mts2-section-more {
    padding: 40px 0;
  }
  .mts2-section-more__heading {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 30px;
  }

  .mts2-section-more__percent {
    font-size: 28px;
    margin-top: 70px;
    line-height: 40px;
  }
}

@media (max-width: 544px) {
  .mts-hash-0003a .mts2-section-conditions__tariffs {
    width: 85%;
}
  .mts-hash-0003a .mtsbank-country-select__wrapper {
    border-radius: 0;
    background-color: #004ede;
    background-image: none;
    padding: 30px 2%;
  }
  .mts-hash-0003a .mts2-section-hero {
    padding: 40px 0;
  }
  .mts2-section-calculator__calculator-wrapper {
    padding: 40px;
  }
  .mts2-section-steps {
    padding: 60px 0;
  }
  .mts2-section-conditions__tariffs-text {
    font-size: 13px;
    line-height: 1.39;
  }
  .mts2-section-conditions__btn {
    display: block;
    text-align: center;
    width: 100%;
  }
}
